<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  
  
  <bean id="salaryServiceFacade"
         class="kr.co.yooooon.hr.salary.sf.SalaryServiceFacadeImpl"
         p:salaryApplicationService-ref="salaryApplicationService"
         />
         
         
  <bean id="salaryApplicationService" 
         class="kr.co.yooooon.hr.salary.applicationService.SalaryApplicationServiceImpl"
         p:baseSalaryDAO-ref="baseSalaryDAO"
         p:baseDeductionDAO-ref="baseDeductionDAO"
         p:baseExtSalDAO-ref="baseExtSalDAO"
         p:monthSalaryDAO-ref="monthSalaryDAO"
         p:monthDeductionDAO-ref="monthDeductionDAO"
         p:monthExtSalDAO-ref="monthExtSalDAO"
         />
            
  
  
     <bean id="baseSalaryDAO" class="kr.co.yooooon.hr.salary.dao.BaseSalaryDAOImpl"
    p:dataSourceTransactionManager-ref="DataSourceTransactionManager" />
    
        <bean id="baseDeductionDAO" class="kr.co.yooooon.hr.salary.dao.BaseDeductionDAOImpl"
    p:dataSourceTransactionManager-ref="DataSourceTransactionManager" />
    
      <bean id="baseExtSalDAO" class="kr.co.yooooon.hr.salary.dao.BaseExtSalDAOImpl"
    p:dataSourceTransactionManager-ref="DataSourceTransactionManager" />
    
      <bean id="monthSalaryDAO" class="kr.co.yooooon.hr.salary.dao.MonthSalaryDAOImpl"
    p:dataSourceTransactionManager-ref="DataSourceTransactionManager" />
    
      <bean id="monthDeductionDAO" class="kr.co.yooooon.hr.salary.dao.MonthDeductionDAOImpl"
    p:dataSourceTransactionManager-ref="DataSourceTransactionManager" />
    
      <bean id="monthExtSalDAO" class="kr.co.yooooon.hr.salary.dao.MonthExtSalDAOImpl"
    p:dataSourceTransactionManager-ref="DataSourceTransactionManager" />
   
    

</beans>